.header__logo {
  width: 142px;
  height: 33px;
  padding-bottom: 38px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    padding-bottom: 28px;
  }
}
