.popup_type_form {
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 37px;
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 798px) {
  .popup_type_form {
    padding: 25px 22px;
    max-width: 282px;
  }
}